<div class="container">
    <div class="row justify-content-center">
        {% for sensor in module['sensors'] %}
            <div class="col-auto">
                <div class="card border-0 shadow mb-2" style="width: 25rem;" id="card_{{ sensor[0] }}">
                    <div class="card-body d-flex flex-column" style="padding: 8px;">
                        <span class="h4">{{ sensor }}</span>
                        <span class="h4 text-muted" id="placeholder_{{ module['name'] + '.' + sensor }}">No Data</span>
                        <canvas id="plot_{{ module['name'] + '.' + sensor }}" style="display: none;
                        width:23rem !important; height:6rem !important;"></canvas>
                        {# id: <Sensor ID> #}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        const source = new EventSource("{{ url_for('sse.stream') }}");
        {% for sensor in module['sensors'] %}
            console.log("Subscribed to data source {{ module['name'] + '.' + sensor }}")
            source.addEventListener("{{ module['name'] + '.' + sensor }}", function(event) {
                const data = JSON.parse(event.data)
                console.log(data)
            });
        {% endfor %}
    });
</script>