{% extends "layouts/base.html" %}

{% block title %} {{ module['name'] }} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include "module/top-nav.html" %}
    {% include "module/live.html" %}
    {% include "module/setting-list.html" %}
    {% include "module/event.html" %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
{% endblock javascripts %}
