<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<div class="col">
    {% for sensor, setting in module['settings'].items() %}
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">{{ sensor }}</h2>
            <form id="form_{{ sensor }}">
                {% for setting_name, value in setting.items() %}
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="{{ setting_name }}">{{ setting_name }}</label>
                            {% if value == 'on' %}
                            <!-- https://stackoverflow.com/questions/1809494/post-unchecked-html-checkboxes -->
                            <input name="{{ setting_name }}" type='hidden' value='off'>
                                {% if setting_name == 'Directionality' %}
                                <input name="{{ setting_name }}" type="checkbox" checked data-toggle="toggle" data-on="GreaterThan" data-off="SmallerThan" data-onstyle="warning" data-offstyle="info">
                                {% else %}
                                <input name="{{ setting_name }}" type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                {% endif %}
                            {% elif value == 'off' %}
                            <input name="{{ setting_name }}" type='hidden' value='off'>
                                {% if setting_name == 'Directionality' %}
                                <input name="{{ setting_name }}" type="checkbox" data-toggle="toggle" data-on="GreaterThan" data-off="SmallerThan" data-onstyle="warning" data-offstyle="info">
                                {% else %}
                                <input name="{{ setting_name }}" type="checkbox" data-toggle="toggle" data-onstyle="success">
                                {% endif %}
                            {% else %}
                            <input class="form-control" name="{{ setting_name }}" type="text" value="{{ value }}"
                                   required>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <!-- <div class="col-md-6 mb-3">
                    <label for="gender">Select</label>
                    <select class="form-select mb-0" id="gender" aria-label="Gender select example">
                        <option selected>Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div> -->
                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save</button>
                </div>
            </form>
        </div>

    {% endfor %}
    {#    <div class="card card-body border-0 shadow mb-4">#}
    {#        <h2 class="h5 mb-4">{{ module['name'] }} Settings</h2>#}
    {#        <form>#}
    {#            <div class="col-md-6 mb-3">#}
    {#                <div>#}
    {#                    <label for="first_name">First Name</label>#}
    {#                    <input class="form-control" id="first_name" type="text" placeholder="Enter your first name"#}
    {#                           required>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-md-6 mb-3">#}
    {#                <label for="gender">Select</label>#}
    {#                <select class="form-select mb-0" id="gender" aria-label="Gender select example">#}
    {#                    <option selected>Select</option>#}
    {#                    <option value="1">1</option>#}
    {#                    <option value="2">2</option>#}
    {#                </select>#}
    {#            </div>#}
    {#            <h2 class="h5 my-4">Location</h2>#}
    {#            <div class="row">#}
    {#                <div class="col-sm-9 mb-3">#}
    {#                    <div class="form-group">#}
    {#                        <label for="address">Address</label>#}
    {#                        <input class="form-control" id="address" type="text" placeholder="Enter your home address"#}
    {#                               required>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-sm-3 mb-3">#}
    {#                    <div class="form-group">#}
    {#                        <label for="number">Number</label>#}
    {#                        <input class="form-control" id="number" type="number" placeholder="No." required>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="mt-3">#}
    {#                <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save all</button>#}
    {#            </div>#}
    {#        </form>#}
    {#    </div>#}
    {#    <div class="card card-body border-0 shadow mb-4 mb-xl-0">#}
    {#        <h2 class="h5 mb-4">Alerts & Notifications</h2>#}
    {#        <ul class="list-group list-group-flush">#}
    {#            <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">#}
    {#                <div>#}
    {#                    <h3 class="h6 mb-1">Company News</h3>#}
    {#                    <p class="small pe-4">Get Rocket news, announcements, and product updates</p>#}
    {#                </div>#}
    {#                <div>#}
    {#                    <div class="form-check form-switch">#}
    {#                        <input class="form-check-input" type="checkbox" id="user-notification-1">#}
    {#                        <label class="form-check-label" for="user-notification-1"></label>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </li>#}
    {#            <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">#}
    {#                <div>#}
    {#                    <h3 class="h6 mb-1">Account Activity</h3>#}
    {#                    <p class="small pe-4">Get important notifications about you or activity you've missed</p>#}
    {#                </div>#}
    {#                <div>#}
    {#                    <div class="form-check form-switch">#}
    {#                        <input class="form-check-input" type="checkbox" id="user-notification-2" checked>#}
    {#                        <label class="form-check-label" for="user-notification-2"></label>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </li>#}
    {#            <li class="list-group-item d-flex align-items-center justify-content-between px-0">#}
    {#                <div>#}
    {#                    <h3 class="h6 mb-1">Meetups Near You</h3>#}
    {#                    <p class="small pe-4">Get an email when a Dribbble Meetup is posted close to my location</p>#}
    {#                </div>#}
    {#                <div>#}
    {#                    <div class="form-check form-switch">#}
    {#                        <input class="form-check-input" type="checkbox" id="user-notification-3" checked>#}
    {#                        <label class="form-check-label" for="user-notification-3"></label>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </div>#}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let sensors = {{ module['settings'].keys()|list|safe }};
        let sensor_form = {};
        sensors.forEach(function (sensor) {
            sensor_form[sensor] = document.getElementById(`form_${sensor}`);
            sensor_form[sensor].addEventListener('submit', async function (e) {
                e.preventDefault();
                const formData = new FormData(sensor_form[sensor]).entries()
                const response = await fetch('/update_settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Module-Name': "{{ module['name'] }}",
                        'Sensor-Name': sensor
                    },
                    body: JSON.stringify(Object.fromEntries(formData))
                });

                const result = await response.json();
                console.log(result)
            });
        });
    });
</script>